<mat-card>
  <mat-card-title>
    <h2 *ngIf="editingStatus">Update new Hotel</h2>
    <h2 *ngIf="!editingStatus">Create new Hotel</h2>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="hotelForm">
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Name of Hotel" type="text" name="name" formControlName="name">
          <mat-error align="end" *ngIf="!hotelForm.controls['name'].valid && hotelForm.controls['name'].touched">
            You must specify a classification that's between 1 and 5 characters long.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Classification of Hotel" type="number" name="classification" formControlName="classification">
          <mat-error align="end" *ngIf="!hotelForm.controls['classification'].valid && hotelForm.controls['classification'].touched">
            You must specify a name that's between 1 and 5.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Number of Rooms" type="number" name="classification" formControlName="nbRooms">
          <mat-error align="end" *ngIf="!hotelForm.controls['nbRooms'].valid && hotelForm.controls['nbRooms'].touched">
            You must specify an amount of rooms that's between 1 and 1500.
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <div>
      <p>{{hotelForm.value | json}}</p>
    </div>

    <mat-card-actions>
      <button *ngIf="editingStatus" (click) = "updateHotel(hotelForm.value)" mat-raised-button color="accent" class="mat-button" [disabled]="!hotelForm.valid">
        Update Hotel
      </button>
      <button *ngIf="!editingStatus" (click)="addHotel()" mat-raised-button color="accent" class="mat-button" [disabled]="!hotelForm.valid">
        Add Hotel
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

